.header {
  &__container {
  }
  &__body {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    @media screen and (max-width: 1329px) {
      flex-flow: row wrap;
    }
  }
  &__info {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    @media screen and (max-width: 1329px) {
      flex: 1 1 40%;
      justify-content: flex-start;
    }
    @media screen and (max-width: 1093px) {
      flex: 1 1 100%;
      justify-content: space-between;
      margin: 0px 40px;
    }
    @media screen and (max-width: 727px) {
      margin: 0px 0px;
    }
    @media screen and (max-width: 483px) {
      flex-flow: column nowrap;
    }
  }
  &__logo {
    padding: 17px 35px;
    border-left: 1px solid #e2e2e2;
    border-right: 1px solid #e2e2e2;
    & img {
      max-width: 190px;
    }
    @media screen and (max-width: 1329px) {
      border-left: none;
    }
    @media screen and (max-width: 1093px) {
      border-right: none;
    }
    @media screen and (max-width: 483px) {
      align-self: flex-start;
      margin-bottom: 20px;
      padding: 0px;
      padding-top: 10px;
    }
  }
  &__number {
    padding: 17px 30px;
    min-height: 90px;
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #000000;
    line-height: 118.7%;
    transition: 0.3s;
    border-right: 1px solid #e2e2e2;
    &:hover {
      color: $subColor;
    }
    @media screen and (max-width: 1329px) {
      border-right: none;
    }
    @media screen and (max-width: 1093px) {
      min-height: 40px;
    }
    @media screen and (max-width: 483px) {
    }
  }
  &__map {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    @media screen and (max-width: 1329px) {
      flex: 1 1 40%;
      justify-content: flex-end;
    }
    @media screen and (max-width: 1093px) {
      flex: 1 1 100%;
      justify-content: space-between;
      margin: 0px 40px;
    }
    @media screen and (max-width: 727px) {
      margin: 0px 0px;
    }
    @media screen and (max-width: 559px) {
      flex-flow: column;
    }
  }
  &__salons {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    min-height: 90px;
    border-right: 1px solid #e2e2e2;
    padding: 12px 30px;
    cursor: pointer;
    color: #000000;
    transition: 0.2s;
    &:hover {
      color: $subColor;
    }
    @media screen and (max-width: 1093px) {
      border-right: none;
      margin-left: 50px;
    }
    @media screen and (max-width: 617px) {
      margin-left: 0px;
    }
    @media screen and (max-width: 1093px) {
      min-height: 40px;
    }
  }
  &__salonsText {
    font-size: 16px;
    color: inherit;
    line-height: 118.7%;
    margin-right: 15px;
  }
  &__salonsImage {
    margin-top: 4px;
  }
  &__blind {
  }
  &__icons {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    @media screen and (max-width: 1329px) {
      flex: 1 1 100%;
      justify-content: center;
    }
    @media screen and (max-width: 519px) {
    }
  }
}

.eye2 {
  display: none;
}
.blind {
  min-height: 90px;
  display: flex;
  align-items: center;
  padding-left: 18px;
  &__button {
    @include button($subColor, $baseColor, $whiteColor, $whiteColor);
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    & img {
      margin-right: 10px;
    }
    & span {
      font-size: 14px;
      line-height: 17px;
    }
    @media screen and (max-width: 361px) {
      width: 100%;
    }
  }
  @media screen and (max-width: 361px) {
    width: 100%;
    padding: 0px 0px;
  }
}
.icons {
  &__inner {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    @media screen and (max-width: 1329px) {
      padding: 10px 0px;
    }
    @media screen and (max-width: 519px) {
      padding: 0px 0px;
    }
  }
  &__icon {
    min-height: 90px;
    display: flex;
    align-items: center;
    border-left: 1px solid #e2e2e2;
    cursor: pointer;
    &:last-child {
      border-right: 1px solid #e2e2e2;
    }
    & img {
      width: 24px;
      margin: 0px 28px;
      @media screen and (max-width: 519px) {
        width: 22px;
        margin: 0px 30px;
      }
      @media screen and (max-width: 389px) {
        width: 22px;
        margin: 0px 20px;
      }
    }
    @media screen and (max-width: 1329px) {
      min-height: 60px;
      &:last-child {
        border-right: none;
      }
      &:first-child {
        border-left: none;
      }
      & img {
        width: 24px;
        margin: 0px 48px;
      }
    }
    @media screen and (max-width: 519px) {
      border-right: none;
      border-left: none;
    }
  }
}
